<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>

		<File name="file" fileName="./logs/jdbc_pool_c3p0_study.log" append="true">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd}] %m%n" />
		</File>

		<!-- 일자별 로그 -->
	

		<!-- 특정크기마다 백업하여 로그 -->

	</Appenders>

	<Loggers>
		<Logger name="jdbc_pool_c3p0_study" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="file" />
			<AppenderRef ref="RollingFile_Daily" />
			<AppenderRef ref="RollingFile_FileSize" />
		</Logger>
	</Loggers>
</Configuration>

